@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.logo {
  margin: 0;
  padding: 0;
}

.body {
  display: block;
}

#login,
#logOut {
  border-color: black;
  color: black;
}
.navbar {
  background-color: darkgoldenrod;
}
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

#messageIndex {
  align-self: flex-start;
  margin-left: 20px;
}

.title {
  margin: 15px;
}

.mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgoldenrod;
  height: 15vh;
}

#loginForm {
  margin-top: 20px;
}

#cardContainer {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.animalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.card {
  max-width: 280px;
  min-width: 100px;
  margin: 10px;
  cursor: pointer;
}

.card-img-top {
  height: 200px;
}

#goToFormOne {
  color: black;
  border-color: black;
}

.tania {
  background-color: red;
}

#title {
  margin: 10px;
}

.card-body {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#errorLogin {
  color: red;
  margin-top: 5px;
}

#adoptedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
}

#completeAdoption {
  justify-self: center;
}
